
<div class="container">
  <h1>Edit article</h1>
  <%= render 'form', article: @article %>

  <%= link_to '<i class="fas fa-undo-alt"></i> back'.html_safe, articles_path %>
  <%= link_to 'show'.html_safe, article_path %>
</div>
